*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.container1{
     background: rgb(18, 52, 68);
     color: white;
     padding: 0 50px 50px 50px;
}

.logo{
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 80px 80px 80px;
    margin: 0 10%;
}
.navbar{
    padding-top: 45px;
}
.navbar>p{
    padding-left: 180px;
    color:rgb(82, 152, 152);
    font-size: 25px;
}
ul{
    display: flex;
}
ul>li{
    list-style: none;
}
ul>li>a{
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color:white;
}
p{
    font-size: 20px;
    padding: 10px;
}

.hpb{
   text-align: center;
   margin: 0 20%;
}
.heading{
    font-size: 40px;
    color:rgb(82, 152, 152);
}
.para{
    font-size: 25px;
    line-height: 2;
    opacity: 0.8;
    letter-spacing: 1px;
}

.hpb>button{
    font-size: 20px;
    padding: 20px;
    margin: 20px; 
    color: white;
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
}


.container2{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    flex-wrap: wrap;
    grid-gap: 50px;
    justify-content: center;
    max-height: 2000px;
    padding: 50px;
}
.d1>h2{
    font-size: 25px;
}
.d1>h3{
    font-size: 20px;
}
.d1>p{
    margin: 15px 0; 
}
.d1>img{
    margin: 15px 0;
    width: 300px;
    cursor: pointer;
    border-radius: 8px;
}

.d1>h2,h3,p{
    opacity: 0.5;
}

.logo::before{
    content: "";
    border: 2px solid white;
}



footer{
    background-color: rgb(72, 67, 67);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    color:white;
}
.copywrite{
    opacity: 0.7;
}
